.header {
  display: flex;
  width:100%;
  margin: auto 0 ;
  flex-direction: column;
}
.header__line{
  display: flex;
  border-bottom: 1px solid #545454;
  margin-bottom: 40px;
  opacity: 70%;
  width: 100%;
}
.header__line_logo{
  width: 173px;
  height: 33px;
  margin-bottom: 40px;
}

@media screen and (max-width:800px) {

}

@media screen and (max-width: 320px) {
  

}