.page{
    background-color: #000000;
    color: #ffff;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 45px 200px 60px;
    margin: 0;
}

